body {
    font-family: "Tiempos Text Web", Georgia, Times, serif;
    line-height: 1.5;
    background-color: #d9ead3ff;
}

#main-header {
    font-family: 'Squada One', cursive;

    text-align: center;
    /* background: url("People\ Walking.jpeg"); */
}

#main-header h1 {
    font-size: min(8vw, 90px);
    color: #242331;

    margin-top: 5vw;
    margin-bottom: 1vw;
}

#main-header h2 {
    font-size: clamp(20px, 3vw, 35px);
    ;
}

#sub-header {
    font-size: clamp(10px, 4vw, 30px);
    color: #4c3828;
    font-family: 'Squada One', cursive;

    text-align: center;
    margin: auto;
}

@font-face {
    font-family: kilma-bold;
    src: url(klima-bold.otf);
  }

@font-face {
    font-family: kilma;
    src: url(klima-regular.otf);
  }

.pull-quote {
    font-family: kilma-bold;
    font-size: clamp(8px, 2vw, 16px);
    color: #134215;
    
    /* max-width: 80%; */
    text-align: center;
    padding: 20px;
    margin: 20px auto;
}

.text-div {
    font-family: kilma;
    font-size: clamp(16px, 2vw, 18px);
    line-height: 1.5;
    /* text-align: justify; */
    text-align: left;

    max-width: max(700px, 50vw);
    padding-left: 30px;
    padding-right: 30px;
    margin: 20px auto;
}

.container {
    text-align: center;
    padding-bottom: 15px;
    min-height: calc(clamp(160px, 30vw, 270px)*1.3);
}

.card-right {
    float: right;
    padding-right: 30px;
    margin: 0 0 0.5rem 1.2rem;
    width: clamp(160px, 30vw, 250px);
}

.card-left {
    float: left;
    padding-left: 30px;
    margin: 0 1.2rem 0.5rem 0;
    width: clamp(160px, 30vw, 250px);
}

/*  –––––––––––––––––––––––- */

#paintings {
    width: clamp(200px, 30vw, 280px);
}