body {
    font-family: "Tiempos Text Web", Georgia, Times, serif;
    line-height: 1.5;
    background-color: #d9ead3ff;
}

#main-header {
    font-family: 'Squada One', cursive;
    text-align: center;
    /* padding: 40px; */
    font-weight: 100;
    font-size: large;
    /* line-height: 1.5; */
    /* background: url("People\ Walking.jpeg"); */
    height: 200px;
}

#main-header h1 {
    float: center;
    vertical-align: middle;
    font-size: 90px;
    color: #242331;
}

/* .sub-header {
    max-width: 600px;
    text-align: center;
    margin: 20px auto;
} */

#sub-header h2 {
    float: center;
    vertical-align: middle;
    margin:auto;
    text-align:center;
    font-size: 45px;
    color: #4c3828;
    font-family: 'Squada One', cursive;
}

.text-div {
    /* background-color: bisque; */
    text-align: justify;
    max-width: 600px;
    /* padding: 10px; */
    padding-left: 30px;
    padding-right: 30px;
    margin: 20px auto;
    font-family: 'Klima', sans-serif;
    font-size: 14px;
}

.pull-quote {
    text-align: center;
    padding: 50px;
    margin: 20px auto;
    font-family: 'Klima', sans-serif;
    font-size: 16px;
    color: #134215
}

.image {
    text-align: center;
}

.container {
    text-align: center;
    padding: 8px;
    margin: auto;
    max-width: 600px;
}

.card {
    float: right;
    padding-right: 20px;
    padding-left: 20px;
    width: 250px;
}

/*  –––––––––––––––––––––––- */

#paintings {
    max-width: 280px;
}