body {
    font-family: sans-serif;
    max-width: 600px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 20px auto;
}

p {
    text-align: justify;
}

/*  –––––––––––––––––––––––- */

#vine { 
    float: right;
    width: 100px;
}

#container {
    width: 600px;
}

#GFC-card {
    border-right: 10px solid;
    border-left: 10px solid;
    border-color: white;
    float: right;
    width: 200px;
}

#stuart-card {
    border-right: 10px solid;
    border-left: 10px solid;
    border-color: white;
    float: left;
    width: 200px;
}

#eddie-card {
    border-right: 10px solid;
    border-left: 10px solid;
    border-color: white;
    float: right;
    width: 200px;
}

.pull-quote {
    text-align: center;
}

#center-block {
    text-align: center;
}

#paintings {
    max-width: 280px;
}